# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

'AIzaSyB2A76DIVUAfXlN2qckq1VTZihTFwDaa3A'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [8]:
# Reference the file where the CSV is located
cities_csv_path = '../WeatherPy/cities.csv'

# Import the data into a Pandas DataFrame
cities_df = pd.read_csv(cities_csv_path)
cities_df

,Unnamed: 0,City,City ID,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Jaru,3925040,100,BR,1580072502,85,-10.44,-62.47,83.19,1.36
1,1,Qaanaaq,3831208,4,GL,1580072504,56,77.48,-69.36,-10.25,5.14
2,2,Rikitea,4030556,0,PF,1580072533,79,-23.12,-134.97,78.87,13.20
3,3,Hamilton,4513583,90,US,1580072508,78,39.18,-84.53,43.00,8.05
4,4,Voh,2137748,69,NC,1580072510,77,-20.97,164.70,77.81,7.81
...,...,...,...,...,...,...,...,...,...,...,...
541,541,Gubkinskiy,1539209,95,RU,1580073303,99,64.43,76.50,-4.95,9.55
542,542,Mayumba,2399001,100,GA,1580073305,79,-3.43,10.66,82.08,6.49
543,543,Safi,2537881,0,MA,1580073306,87,32.30,-9.24,52.23,9.69
544,544,Porto Velho,3662762,40,BR,1580073200,47,-8.76,-63.90,95.00,2.24
545,545,Ambon,1651531,100,ID,1580073308,76,-3.70,128.18,81.14,4.56

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = cities_df[['Lat', 'Lng']]

# Use Humidity as weight, and convert to float
humid = cities_df['Humidity'].astype(float)

In [9]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humid, 
                                 dissipating=False, max_intensity=100,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [15]:
ideal_df = cities_df[(cities_df['Max Temp'] >= 63) &
                     (cities_df['Max Temp'] <= 78) &
                     (cities_df['Humidity'] >= 25) &
                     (cities_df['Humidity'] <= 50) &
                     (cities_df['Wind Speed'] >= 0) &
                     (cities_df['Wind Speed'] <= 15) &
                     (cities_df['Cloudiness'] >= 0) &
                     (cities_df['Cloudiness'] <= 50)
                    ]
ideal_df.count()

Unnamed: 0    9
City          9
City ID       9
Cloudiness    9
Country       9
Date          9
Humidity      9
Lat           9
Lng           9
Max Temp      9
Wind Speed    9
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [34]:
header_list = ['City','City ID','Cloudiness','Country','Date','Humidity','Lat','Lng','Max Temp','Wind Speed','Hotel Name']
hotel_df = ideal_df.reindex(columns = header_list)

,City,City ID,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
31,Busselton,2075265,0,AU,1580072621,44,-33.65,115.33,66.99,11.36,
51,Lebu,3883457,6,CL,1580072646,50,-37.62,-73.65,68.90,12.35,
129,Ahwa,1279213,0,IN,1580072754,34,20.75,73.68,68.50,2.24,
163,Coyhaique,3894426,1,CL,1580072800,34,-45.58,-72.07,66.20,11.41,
183,Sur,286245,0,OM,1580072826,49,22.57,59.53,64.13,14.63,
304,Jalna,1269395,0,IN,1580072764,42,19.83,75.88,66.97,5.35,
371,Basoko,219414,17,CD,1580073079,35,1.24,23.62,73.78,1.43,
452,Key West,4160812,1,US,1580073048,49,24.56,-81.78,69.80,11.41,
470,Kisangani,212730,33,CD,1580073213,41,0.52,25.20,73.74,1.74,

In [37]:
# find the closest hotel to each city

target_type = "lodging"
radius = 5000

# Build URL using the Google Maps API

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# use iterrows to iterate through pandas dataframe
for index, row in hotel_df.iterrows():
    
    # get lat and lng type from df
    lo_lat = row['Lat']
    lo_lng = row['Lng']
    
    # rewrite params dict
    params = {
        "key": g_key,
        "location": f'{lo_lat},{lo_lng}',
        "type": target_type,
        "radius": radius,
    }
   
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print(f"No hotels that match criteria for {City}... skipping.")
        
    print("------------")

Retrieving Results for Index 31.
------------
Retrieving Results for Index 51.
------------
Retrieving Results for Index 129.
------------
Retrieving Results for Index 163.
------------
Retrieving Results for Index 183.
------------
Retrieving Results for Index 304.
------------
Retrieving Results for Index 371.
------------
Retrieving Results for Index 452.
------------
Retrieving Results for Index 470.
------------

In [38]:
hotel_df

,City,City ID,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
31,Busselton,2075265,0,AU,1580072621,44,-33.65,115.33,66.99,11.36,Observatory Guest House
51,Lebu,3883457,6,CL,1580072646,50,-37.62,-73.65,68.90,12.35,Hostal Las Lilas
129,Ahwa,1279213,0,IN,1580072754,34,20.75,73.68,68.50,2.24,GREEN ORAA HOMESTAY AHWA
163,Coyhaique,3894426,1,CL,1580072800,34,-45.58,-72.07,66.20,11.41,Diego De Almagro Coyhaique
183,Sur,286245,0,OM,1580072826,49,22.57,59.53,64.13,14.63,Sur Plaza Hotel
304,Jalna,1269395,0,IN,1580072764,42,19.83,75.88,66.97,5.35,Hotel Shivneri Palace
371,Basoko,219414,17,CD,1580073079,35,1.24,23.62,73.78,1.43,Flat Hotel La Benediction
452,Key West,4160812,1,US,1580073048,49,24.56,-81.78,69.80,11.41,Fairfield Inn & Suites by Marriott Key West
470,Kisangani,212730,33,CD,1580073213,41,0.52,25.20,73.74,1.74,Grand Ramela Hotel

In [41]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [43]:
# Add marker layer ontop of heat map

# Create marker layer
marker_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2,
    info_box_content=hotel_info
)

fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

# Display a combined map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))